$white = #fff

$black-full = #2c2d30
$black-dark = #434245
$black = #555459

$full-black = rgba(0, 0, 0, 1)
$dark-black = rgba(0, 0, 0, 0.87)
$light-black = rgba(0, 0, 0, 0.54)
$pale-black = rgba(0, 0, 0, 0.24)
$slight-black = rgba(0, 0, 0, 0.14)

$full-white = rgba(255, 255, 255, 1)
$dark-white = rgba(255, 255, 255, 0.87)
$light-white = rgba(255, 255, 255, 0.54)
$pale-white = rgba(255, 255, 255, 0.24)
$slight-white = rgba(255, 255, 255, 0.14)


$blue = #2196f3
$blue-light = #3aa3e3
$blue-link = #2a80b9

$green = #2ab27b
$red = #cb5234

$yellow = #fc0
$yellow-light = #fffce0

$grey = #9e9ea6
$grey-light = #c7cacd
$grey-lighter = #fbfbfa

$grey-background = #f9f9f9
$grey-background-light = #f7f7f7

$card-border = #e8e8e8
$card-border-dark = #d8d8d8

$hover-blue = #edf7fd
$hover-blue-border = #d3ecfa

$left-menu = #303e4d


$death-knight-colour = #C41F3B
$paladin-colour = #F58CBA
$priest-colour = #FFFFFF
$warlock-colour = #9482C9
$shaman-colour = #0070DE
$mage-colour = #69CCF0
$monk-colour = #00FF96
$hunter-colour = #ABD473
$rogue-colour = #FFF569
$warrior-colour = #C79C6E
$druid-colour = #FF7D0A
$demon-hunter-colour = #A330C9
