.wow-style
	&.class-font
		&.death-knight
			color $death-knight-colour

		&.paladin
			color $paladin-colour

		&.warrior
			color $warrior-colour

		&.hunter
			color $hunter-colour

		&.shaman
			color $shaman-colour

		&.druid
			color $druid-colour

		&.demon-hunter
			color $demon-hunter-colour

		&.monk
			color $monk-colour

		// make rogue black because yellow is too hard to see
		&.rogue
			// color $rogue-colour
			color $black

		// make priest black otherwise we can't see it
		&.priest
			color $black

		&.mage
			color $mage-colour

		&.warlock
			color $warlock-colour

	&.bg
		&.death-knight
			background-color $death-knight-colour

		&.paladin
			background-color $paladin-colour

		&.warrior
			background-color $warrior-colour

		&.hunter
			background-color $hunter-colour

		&.shaman
			background-color $shaman-colour

		&.druid
			background-color $druid-colour

		&.demon-hunter
			background-color $demon-hunter-colour

		&.monk
			background-color $monk-colour

		&.rogue
			background-color $rogue-colour

		&.priest
			background-color $priest-colour

		&.mage
			background-color $mage-colour

		&.warlock
			background-color $warlock-colour


	&.bg-font
		&.death-knight
		&.shaman
		&.demon-hunter
		&.warlock
			color $white
